<h1 class="text-primary"><%= @article.title %></h1>

<p class="text-secondary ps-3 fs-3"><%= @article.body %></p>

<ul>
  <li ><%= link_to "Edit", edit_article_path(@article), class:"nav-link " %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }, class:"nav-link text-danger"%></li>
</ul>


<h2 class="text-secondary mt-4 mb-4">Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter%>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <p>
    <%= link_to "Destroy Comment", [comment.article, comment], data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              }, class:"nav-link text-danger" %>
  </p>
<% end %>

<h2 class="text-secondary mt-5 mb-4">Add a comment:</h2>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter, class:"text-info mb-2" %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body, class:"text-info mb-2"%><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit "Post comment", class:"btn btn-primary" %>
  </p>
<% end %>
